body{
    padding: 0;
    margin: 0;
}

header , footer{
    background-color: #1f2937;
    color: #f9faf8;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

header{
    padding: 12px 15%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    gap: 40px;
}

.top-header{
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.header-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header-image-container{
    width: 35%px;
    height: auto;
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-image{
    background-color: #4a82a2;
    width: 95%px;
    height: 90%;
    flex: 0 1 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a{
    text-decoration: none;
}

.header-text, a{
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
}

/*.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.random-info{
    padding-top: 18px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info-container{
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.info{
    max-width: 200px;
}

.squere{
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.info-text{
    font-size: 18px;
    color: #252a36;
    text-align: center;
}

.quote{
    padding: 60px 15%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text-1{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}
.quote-text-2{
    align-self: flex-end;
    font-weight: 900;
    font-size: 1.5rem;
}

/*debag*/
/* .body{
    border: 1px solid;
}
.body *{
    border: 1px solid;
    flex-grow: 0;
} */